.form__textfields {
  padding: 47px 0 45px;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

@media (max-width: 530px) {
  .form__textfields {
    padding: 75px 0 45px;
    gap: 31px;
  }
}
