@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  background-color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
}

.page__content {
  max-width: 880px;
  margin: 0 auto;
}

.header__content {
  max-width: 880px;
  margin: 45px auto 36px;
}

.logo {
  width: 142px;
  height: 33px;
}

.header__line {
  border-bottom: 1px solid #545454;
  opacity: .7;
}
